/* Global settings */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  color: #33415c;
}

/* Header and logo settings */
.header-container {
  background-color: #cfe5f3; /* Darker shade of blue for a professional look */
  color: #cfe5f3;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 200px;
  width: auto;
}

.top-right-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-right-links a {
  color: rgb(14, 97, 187);
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

/* Main content styles */
h1,
h2 {
  color: #0261ac; /* Slightly lighter blue for distinction */
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

input[type="file"],
input[type="submit"] {
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #0275d8;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #025aa5;
}

/* Table and navigation styles */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}

.table-dark {
  background-color: rgb(14, 97, 187);
  color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

/* Pagination and error handling */
#pagination,
#errorContainer {
  margin-top: 20px;
  text-align: center;
}

.button,
button {
  background-color: rgb(14, 97, 187);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover,
button:hover {
  background-color: #025aa5;
}

.error-message {
  color: #dc3545; /* Bootstrap danger color for contrast */
}

/* Footer settings */
.site-footer {
  background-color: rgb(14, 97, 187);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.info {
  width: 50%; /* or your desired width */
  margin-left: auto;
  margin-right: auto;
}
