{% extends "base.html" %} {% block title %}
<title align="center">Global Topology Bubble Map Generato</title>
{% endblock %} {% block content %}
  </head>
  <body>

    <div class="info">
      <h2>CSV Upload Instructions</h2>
      <p>Please upload any CSV file with up to 20 datapoints additional to the mandatory columns below.</p>
      <ul>
        <li><strong>Country</strong></li>
        <li><strong>City</strong></li>
        <li><strong>Latitude</strong></li>
        <li><strong>Longitude</strong></li>
      </ul>
      <p>Add as many other data inputs as you like, a distinct bubble color will be automatially allocated</p>
      {% if message %}
<div style="color: red;">{{ message }}</div>
{% endif %}
       <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="datafile" />
      <input type="submit" value="Upload and Generate Map" />
    </form>
    <!-- Add this inside your <div class="info"> after the <p> tags -->
<p>To see an example of a correctly formatted CSV, you can download a demo file:</p>
<a href="/static/demo.csv" download="demo.csv">Download Demo CSV</a>

    </div>

{% endblock %}
