{% extends "base.html" %} {% block title %}
<title align="center">Global Topology Bubble Map Generato</title>
{% endblock %} {% block content %}
  </head>
  <body>

    <div class="info">
      <h2>CSV Upload Instructions</h2>
      <p>Please upload any CSV file with up to 10 datapoints, but ensure you include the following:</p>
      <ul>
        <li><strong>Country</strong></li>
        <li><strong>City</strong></li>
        <li><strong>Lattitude</strong></li>
        <li><strong>Longitude</strong></li>
      </ul>
      <p>Add as many other data inputs as you like, a distinct bubble color will be automatially allocated</p>
       <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="datafile" />
      <input type="submit" value="Upload and Generate Map" />
    </form>
    </div>

{% endblock %}
